* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: rgb(255, 255, 255);
}

.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}

.countries-container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(270px, 100%), 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.country-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 30, 30);
  color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 1px 1px 1.5px 1px rgba(0, 0, 0, 0.566);
  text-align: center;
  min-height: 280px;
  position: relative;
}
h3 {
  font-size: 1.2rem;
  line-height: 30px;
}
h4 {
  margin: 10px 0;
  font-size: 0.9rem;
}
p {
  font-size: 0.9rem;
  position: absolute;
  bottom: 20px;
}
img {
  width: 60%;
  height: 110px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 7px;
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}
